
@{
    ViewData["Title"] = "AccessDenied";
}

<h1>AccessDenied</h1>

<h3>You are not authorized to view this page.</h3>

<p>
    You can always <a asp-controller="Account" asp-action="Logout">log in as someone else</a>.
</p>


